/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
@import '../../@core/scss/angular/libs/datatables.component.scss';
@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");
@import '@core/scss/angular/libs/tree-view.component.scss';
@font-face {
    font-family: 'VAG Rounded';
    src: url('./fonts/VAGRounded-Light.woff2') format('woff2'),
        url('./fonts/VAGRounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



html .content.app-content {
    padding: calc(1rem + 4.45rem + 1.3rem) 2rem 0;
}

.brand-text{
	font-family: 'VAG Rounded';
	font-size: 20px !important;
	line-height: 13px;
}
.signature{
	font-size: 15.5px;
	letter-spacing: 0;
}

footer [alt="brand-logo"]{
	max-width: 150px;
}

.main-menu .main-menu-content {
    height: calc(100% - 9.7rem) !important;
    position: relative;
}

.alert .alert-body {
    padding: 0.1rem .1rem;
}

.card{
	margin-bottom: 1rem;
}
.card .card-header{
	padding: 1rem 1.5rem 1rem 1.5rem
}
table .alert{
	margin-bottom: 0;
}

.bullet.bullet-warning {
    background-color: #ff9f43;
}

.main-menu .navbar-header .navbar-brand .brand-text{
	color: #16c613  !important;

}
.semi-dark-layout .main-menu-content .navigation-main .nav-item .menu-content li.active a{
	background-color: #6610f2;
	border-radius: 4px;
}
.chartjs-render-monitor{
	background-color: #fff;
}
.visible {
    visibility: visible !important;
    width: 100%;
}
.dark-layout .text-dark, 
.dark-layout label,
.dark-layout h1, .dark-layout h2, .dark-layout h3, .dark-layout h4, .dark-layout h5, .dark-layout h6,
.dark-layout .table td, .dark-layout .table th,
.dark-layout .main-menu-content .navigation-main li a{
	color: #fff  !important;
}
body.dark-layout, .dark-layout input.form-control,
.dark-layout .nav-tabs .nav-item .nav-link{
	color: #fff;
}
body.dark-layout .border-secondary{
    border: 1px solid #fff !important;
}

.ngx-datatable .datatable-header,
.ngx-datatable .datatable-body {
    width: 100% !important;    
}

.dark-layout input.form-control:disabled{
    opacity: 1 !important;
}

td input{
	text-align: center !important;
}

body.dark-layout .text-info input, 
.dark-layout .bg-light-info
.text-info[_ngcontent-vin-c218] input[_ngcontent-vin-c218] {
    color: #62baf8 !important;
}
.text-info input{
    color: #0070c0 !important;
}

.content-header{
	display: none;
}
.main-menu .navigation > li ul .active{
	border-radius: 4px;
}

.nav-tabs .badge.badge-up {
    top: -8px;
    right: -16px;
	font-weight: bold !important;
    font-size: 1.5rem;
	line-height: 0;
    padding-top: 13px;
	padding-left: 0.32rem;
	padding-right: 0.32rem;
	min-width: 1rem;
	min-height: 1rem;
}

.form-group {
    margin-bottom: .5rem;
}

.nav-tabs h4.card-title a.nav-link{
	padding-left: 0;
    padding-right: 0;
	padding-top: 0;
	margin-right: 20px;
}
.nav-card{
	margin-top: -5px;
}
@media (min-width: 1940px) {
	.nav-pills .nav-link{
		font-size: 1.5rem;
	}
	body, .form-control-sm{
		font-size: 1.4rem;
	}
	.col-form-label{
		line-height: 1;
	}
	.card .card-title{
		font-size: 1.7rem;
	}
	h2, .h2 {
		font-size: 2.3rem;
	}
	.breadcrumb{
		font-size: 1.5rem;
	}
	.card .card-header .heading-elements a i, .card .card-header .heading-elements a svg {
		height: 2.4rem;
		width: 2.4rem;
		font-size: 2.4rem;
	}

	.navigation{
		font-size: 1.5rem;
		font-weight: 500;
	}

	.navigation .menu-content{
		font-size: 1.1rem;
	}

	.main-menu.menu-dark .navigation > li.active > a{
		font-weight: 600;
	}

	.main-menu .navbar-header .navbar-brand .brand-text{
		font-size: 2rem;
	}

	.main-menu .navbar-header .navbar-brand .brand-logo img {
		max-width: 55px;
	}

	.font-medium-4 {
		font-size: 1.9rem !important;
	}
	.main-menu .navbar-header .modern-nav-toggle{
		margin-top: 16px;
	}

	h4{
		font-size: 1.7rem;
	}
	p, h5, label{
		font-size: 1.5rem !important;
	}
	
}