<!-- Définir le formulaire-->
<div class="content-wrapper">
  <div class="content-body">

    <!-- Définir l'en-tête -->
    <section class="app-user-edit">
        <div class="card">
          <div class="card-body">
            <ul ngbNav #nav="ngbNav" class="nav nav-pills">
              <li ngbNavItem>
                <a ngbNavLink class="d-flex align-items-center">
                  <i data-feather="info" class="mr-sm-50"></i><span class="d-none d-sm-block">Information</span></a
                >
                <ng-template ngbNavContent>

                  <!-- Définir le bouton information -->
                  <div class="tab-pane" id="information" aria-labelledby="information-tab" role="tabpanel">
                    
                    <!-- Définir le formulaire et la methode ngsubmit  -->
                    <form (ngSubmit)="onSubmit()" #UtilisateurForm="ngForm" class="form-validate">
                      <option *ngFor="let element of utilisateur" [value]="element">{{element}}</option>
                      <div class="row mt-1">
                        <div class="col-12">
                          <h4 class="mb-1">
                            <i data-feather="user-plus" [size]="16" class="mr-75 font-medium-4"></i>
                            <span class="align-middle">Add a new user</span>
                          </h4>
                        </div>

                        <!-- Créer l'élément username -->
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="fullName">FullName</label>
                            <input
                              id="fullName"
                              type="text"
                              class="form-control"
                              name="fullName"
                              placeholder="rouardnicolas"
                              required
                                 [(ngModel)]="model.fullName" name="fullName"
                            />
                          </div>
                        </div>

                        <!-- Créer l'élément username -->
                        <!--<div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="username">UserName</label>
                            <input
                              id="username"
                              type="text"
                              class="form-control"
                              name="username"
                              placeholder="rouardnicolas"
                              required
                                 [(ngModel)]="model.username" name="username"
                            />
                          </div>
                        </div>-->

                        <!-- Créer l'élément name -->
                        <!--<div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="name">Name</label>
                            <input
                              id="name"
                              type="text"
                              class="form-control"
                              name="name"
                              placeholder="Nicolas"
                              required
                                 [(ngModel)]="model.name" name="name"
                            />
                          </div>
                        </div>-->

                        <!-- Créer l'élément surname -->
                        <!--<div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="Surname">Surname</label>
                            <input
                              id="surname"
                              type="text"
                              class="form-control"
                              name="surname"
                              placeholder="Rouard"
                              required
                                 [(ngModel)]="model.surname" name="surname"
                            />
                          </div>
                        </div>-->

                        <!-- Créer l'élément email -->
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="email">Email</label>
                            <input
                              id="email"
                              type="email"
                              class="form-control"
                              name="email"
                              placeholder="nicolas.rouard@arcelormittal.com"
                              required
                                 [(ngModel)]="model.email" name="email"
                            />
                          </div>
                        </div>

                        <!-- Créer l'élément password -->
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="password">Password</label>
                            <input
                              id="password"
                              type="password"
                              class="form-control"
                              name="password"
                              required
                                 [(ngModel)]="model.password" name="password"
                            />
                          </div>
                        </div>
                        
                        <!-- Définir le bouton Save Changes et le bouton Reset -->
                        <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                          <button type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect [disabled]="!UtilisateurForm.form.valid">
                            Save Changes
                          </button>
                          <button type="reset" class="btn btn-outline-secondary" rippleEffect>Reset</button>
                        </div>
                      </div>
                    </form>
                    <!-- users edit Info form ends -->
                  </div>
                  <!-- Information Tab ends -->
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
        </div>
    </section>
    <!-- users edit ends -->
  </div>
</div>

