<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Afficher le logo de la marque -->
    <a class="brand-logo" href="javascript:void(0);"></a>
    
    <!-- Afficher la partie droite (Carousel) -->    
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <ul class="cb-slideshow">
        <li>
          <span>Image 01</span>
        </li>
        <li>
          <span>Image 02</span>
        </li>
        <li>
          <span>Image 03</span>
        </li>
        <li>
          <span>Image 04</span>
        </li>
        <li>
          <span>Image 5</span>
        </li>
        <li>
          <span>Image 6</span>
        </li>
      </ul>
    </div>

    <!-- Afficher la partie droite de Connexion -->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <!-- Afficher le texte d'invitation à se connecter -->
        <h2 class="card-title font-weight-bold mb-1">Bienvenue !</h2>
        <p class="card-text mb-2">Veuillez saisir vos informations de connexion pour continuer</p>

        <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
          <div class="alert-body">
            <p>{{ error.error.error.details }}</p>
          </div>
        </ngb-alert>

        <!-- Afficher les informations de connexion -->
        <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <!-- Afficher les informations du mail -->
          <div class="form-group">
            <!-- Afficher le label -->
            <label class="form-label" for="login-email">Email</label>
            <!-- Afficher la donnée -->
            <input
              type="text"
              formControlName="login"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.login.errors }"
              placeholder="p.nom@my-kiwi.fr"
              aria-describedby="login-email"
              autofocus=""
              tabindex="1"
            />
            <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
              <div *ngIf="f.login.errors.required">Email requis</div>
            </div>
          </div>

          <!-- Afficher les informations du mot de passe -->
          <div class="form-group">
            <!-- Afficher le label -->
            <div class="d-flex justify-content-between">
              <label for="login-password">Mot de passe</label
              ><a routerLink="/pages/authentication/forgot-password-v2"><small>Mot de passe oublié ?</small></a>
            </div>
            <!-- Afficher la donnée -->
            <div class="input-group input-group-merge form-password-toggle">
              <input
                [type]="passwordTextType ? 'text' : 'password'"
                formControlName="password"
                class="form-control form-control-merge"
                [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
                placeholder="123qwe"
                aria-describedby="login-password"
                tabindex="2"
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer">
                  <i class="feather font-small-4" [ngClass]="{'icon-eye-off': passwordTextType, 'icon-eye': !passwordTextType}" (click)="togglePasswordTextType()"></i>
                </span>
              </div>
            </div>
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.password.errors }"
            >
              <div *ngIf="f.password.errors.required">Mot de passe requis</div>
            </div>
          </div>

          <!-- Afficher les informations permettant de se souvenir du profil connecté -->
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" formControlName="remember" id="remember-me" type="checkbox" tabindex="3" />
              <label class="custom-control-label" for="remember-me">Se souvenir de moi</label>
            </div>
          </div>

          <!-- Afficher le bouton de connexion -->
          <button [disabled]="loading" class="btn btn-success btn-block" tabindex="4" rippleEffect>
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Se connecter
          </button>
        </form>

        <p class="text-center mt-2">
          <span></span>
          <a routerLink="/pages/authentication/register-v2"><span></span></a>
        </p>

        <!-- Afficher le logo de l'entreprise -->
        <p class="text-center mt-4">
          <!-- <img src="{{ coreConfig.app.appLogoWhithe }}" alt="brand-logo" height="100" />  -->
          <img src="/assets/images/logo/logo.png" alt="brand-logo" height="50" width="120" />
        </p>     
      </div>
    </div>
  </div>s
</div>