<!-- Afficher l'en-tête -->
<div id="entete">
  <!-- Afficher le cadre -->
  <div class="card">
    <!-- Afficher le bandeau d'en-tête -->
    <div class="row">
      <!-- Afficher les options d'affichage -->
      <div class="col-md-6 col-12">
        <div class="d-flex justify-content-between align-items-center m-1">
          <!-- Afficher le nombre d'entrées -->
          <label class="d-flex align-items-center">Entrées
            <select class="form-control mx-25" [(ngModel)]="nbLigne">
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="*">*</option>
            </select>
          </label>

          <!-- Afficher le switch pour accéder au tableau secondaire -->
          <div class="custom-control custom-switch custom-control-inline">
            <label>Principale </label>
            <input type="checkbox" class="custom-control-input" id="customSwitch1" [value]="liste2"
              (click)="Lister()" />
            <label class="custom-control-label" for="customSwitch1"> Secondaire</label>
          </div>
        </div>
      </div>

      <!-- Afficher la partie droite du bandeau -->
      <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
          <!-- Afficher la fonction rechercher -->
          <label class="d-flex align-items-center ml-1 ml-md-0">
            <input [(ngModel)]="recherche" placeholder="Rechercher" name="recherche" type="search"
              class="form-control ml-25" (keyup)="filterUpdate($event)" />
          </label>

          <!-- Afficher le bouton Ajouter un élément -->
          <form (ngSubmit)="Ajouter()" class="form-validate" #ListerForm="ngForm">
            <button type="submit" class="btn btn-primary ml-1" rippleEffect [disabled]="!ListerForm.form.valid">
              <!-- Afficher l'icone + -->
              <span data-feather="plus" class="d-none d-sm-inline-block"></span> Ajouter
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Récupérer la classe de bootstrap -->
    <!-- Définir la hauteur du header -->
    <!-- Définir la hauteur de la ligne -->
    <!-- Définir la limite -->
    <!-- Définir le mode pour la colonne -->
    <!-- Définir la hauteur du bas de page -->
    <!-- Définir les données -->
    <!-- Définir le scrollbarH -->

    <div id="footer">
      <!-- Afficher le datatable -->
      <ngx-datatable #tableRowDetails *ngIf="listeChargee" class="bootstrap core-bootstrap" [headerHeight]="40"
        [rowHeight]="30" [limit]="nbLigne" [columnMode]="ColumnMode.force" [footerHeight]="50" [rows]="liste"
        [scrollbarH]="true">

        <!-- Afficher la colonne des actions -->
        <ngx-datatable-column name="Actions" [width]="50" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row">
            <div ngbDropdown container="body">

              <!-- Afficher le bouton Action -->
              <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
              </button>

              <!-- Afficher les trois actions -->
              <div ngbDropdownMenu>
                 <!-- Afficher le bouton afficher -->
                <a (click)="Afficher(row.id)" href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center">
                  <!-- Afficher l'icône et la taille -->
                  <i data-feather="eye" [size]="16" class="mr-50 text-info"></i> Afficher
                </a>

                <!-- Afficher le bouton modifier -->
                <a (click)="Modifier(row.id)" href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center">
                  <!-- Afficher l'icone et la taille -->
                  <i data-feather="edit" [size]="16" class="mr-50 text-primary"></i> Modifier
                </a>

                <!-- Afficher le modal de suppression -->
                <div class="modal-danger d-inline-block">
                  <!-- Afficher le bouton supprimer -->
                  <a (click)="AfficherModal(modalDanger)" href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center">
                    <!-- Afficher l'icône et la taille -->
                    <i data-feather="trash" [size]="16" class="mr-50 text-danger"></i> Supprimer
                  </a>

                  <!-- Afficher la modale -->
                  <ng-template #modalDanger let-modal>
                    <div class="modal-header">
                      <h5 class="modal-title" id="myModalLabel160">Supprimer un élément</h5>
                      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" tabindex="0" ngbAutofocus>
                      Etes-vous sûr de vouloir supprimer {{row.nom}} ?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" (click)="Supprimer(row.id)" rippleEffect>
                        Supprimer
                      </button>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <!-- Afficher la colonne détail -->
        <ngx-datatable-column [width]="25" [resizeable]="false" [sortable]="false" [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row" (click)="rowDetailsToggleExpand(row)"></a>
          </ng-template>
        </ngx-datatable-column>

        <!-- Afficher le détail des lignes -->
        <ngx-datatable-row-detail [rowHeight]="30">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <div class="ml-75 pl-15 pt-100">
              <div>
                <!-- <span class="ml-1">{{detail[row.id]}} </span> -->
                <span class="ml-1">{{row.detail}} </span>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>

        <!-- Afficher les colonnes dynamiquement dans la datatable -->
        <!-- Boucler sur les colonnes-->
        <ng-container *ngFor="let i of iListe.colonnes">
          <ngx-datatable-column *ngIf="i.visible" name="{{i.nom}}" prop="{{i.propriete}}" value="{{i.image}}"
            [width]="i.largeur" [text-align]="i.alignement">
          </ngx-datatable-column>
        </ng-container>
      </ngx-datatable>
    </div>
  </div>
</div>

<!-- Afficher la sideBar de droite -->
<core-sidebar name="themeCustomizer" class="customizer d-none d-md-block" [ngClass]="{'open': openSide }">
  <!-- Afficher l'icône settings qui tourne -->
  <a class="customizer-toggle d-flex align-items-center justify-content-center" (click)="toggleSidebar('themeCustomizer')">
    <span [data-feather]="'settings'" [class]="'spinner'"></span>
  </a>
  
  <!-- Afficher l'icône de l'accordéon -->
  <div class="collapse-icon">
    <!-- Afficher l'accordéon -->
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <!-- Afficher le panel 1 -->
      <ngb-panel>
        <!-- Afficher le titre du panel 1 -->
        <ng-template ngbPanelTitle>
          <span class="lead collapse-title">{{iIndicateur[0].titre}}</span>
        </ng-template>
        <!-- Afficher le contenu du panel 1 -->
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-12 mb-1">
              <!-- Afficher la courbe -->
              <div id="chart">
                <apx-chart
                  [series]="chartOptions1.series"
                  [chart]="chartOptions1.chart"
                  [xaxis]="chartOptions1.xaxis"
                  [dataLabels]="chartOptions1.dataLabels"
                  [grid]="chartOptions1.grid"
                  [stroke]="chartOptions1.stroke"
                  [title]="chartOptions1.title"
                ></apx-chart>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <!-- Afficher le panel 2 -->
      <ngb-panel>
        <!-- Afficher le titre du panel 2 -->
        <ng-template ngbPanelTitle>
          <span class="lead collapse-title">{{iIndicateur[1].titre}}</span>
        </ng-template>
        <!-- Afficher le contenu du panel 2 -->
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-12 mb-1">
              <!-- Afficher la courbe -->
              <div id="chart">
                <apx-chart
                  [series]="chartOptions2.series"
                  [chart]="chartOptions2.chart"
                  [xaxis]="chartOptions2.xaxis"
                  [dataLabels]="chartOptions2.dataLabels"
                  [grid]="chartOptions2.grid"
                  [stroke]="chartOptions2.stroke"
                  [title]="chartOptions2.title"
                ></apx-chart>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <!-- Afficher le panel 3 -->
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span class="lead collapse-title">{{iIndicateur[2].titre}}</span>
        </ng-template>
        <!-- Afficher le contenu du panel 3 -->
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-12 mb-1">
              <!-- Afficher la courbe -->
              <div id="chart">
                <apx-chart
                  [series]="chartOptions3.series"
                  [chart]="chartOptions3.chart"
                  [xaxis]="chartOptions3.xaxis"
                  [dataLabels]="chartOptions3.dataLabels"
                  [grid]="chartOptions3.grid"
                  [stroke]="chartOptions3.stroke"
                  [title]="chartOptions3.title"
                ></apx-chart>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>

      <!-- Afficher le panel 4 -->
      <ngb-panel>
        <!-- Afficher le titre du panel 4 -->
        <ng-template ngbPanelTitle>
          <span class="lead collapse-title">{{iIndicateur[3].titre}}</span>
        </ng-template>
        <!-- Afficher le contenu du panel 2 -->
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-12 mb-1">
              <!-- Afficher la courbe -->
              <div id="chart">
                <apx-chart
                  [series]="chartOptions4.series"
                  [chart]="chartOptions4.chart"
                  [xaxis]="chartOptions4.xaxis"
                  [dataLabels]="chartOptions4.dataLabels"
                  [grid]="chartOptions4.grid"
                  [stroke]="chartOptions4.stroke"
                  [title]="chartOptions4.title"
                ></apx-chart>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</core-sidebar>