@import '@core/scss/angular/libs/datatables.component.scss';

.datatable-scroll {
  width: auto !important;
}

.ngx-datatable.bootstrap.core-bootstrap .datatable-header {
    background-color: #f3f2f7;
    // text-transform: uppercase;
    height: 40px!important;
    border-top: 1px solid #ebe9f1;
}